ClientBin
ClientBin/*
clientbin
clientbin/*
deploy
deploy/*
Deploy
Deploy/*
debug
debug/*
Debug
Debug/*
release
release/*
Release
Release/*
obj
obj/*
Obj
Obj/*
bin
bin/*
Bin
Bin/*
TestResults
*TestResults 
*/TestResults 
*.csproj.user
*.g.cs 
*.[Cc]ache 
*.user 
*.xap 
*.suo 
*.o 
*.lo 
*.la 
*.al 
*.pdb
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
*.rej 
*~ #*# 
.#* 
.*.swp 
*.user
*.log
*.cache
Thumbs.db
*.bak
*.licx
*.iml
*.ipr
*.iws
.DS_Store